/* CSS for about us */
.home_about_us .content_container {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  padding: 100px 0px;
}

.home_about_us .left_content {
  flex: 3;
}

.home_about_us .left_content .title {
  font-family: Pacifico;
  color: #ff6600;
}

.home_about_us .right_content {
  flex: 4;
  color: #84868f;
  font-size: 18px;
}

/* CSS for book table section */
.book_table .content_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.book_table .left_content {
  background-image: url(../img/banner3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(50%);
}

.book_table .right_content {
  padding: 130px 80px;
  background-color: #ff6600;
}

.book_table .right_content .title {
  color: white;
  font-family: Pacifico;
  font-size: 20px;
}

.book_table .right_content p {
  color: #ffdfc9;
  font-size: 18px;
}

.book_table .right_content .best_container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.book_table .right_content .best_container i {
  font-size: 25px;
  color: #ff6600;
  background-color: white;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 10px;
}
