/* CSS for about us */
.home_about_us .content_container {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  padding: 100px 0px;
}

.home_about_us .left_content {
  flex: 3;
}

.home_about_us .left_content .title {
  font-family: Pacifico;
  color: #ff6600;
}

.home_about_us .right_content {
  flex: 4;
  color: #84868f;
  font-size: 18px;
}

/* CSS for book table section */
.book_table .content_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.book_table .left_content {
  background-image: url(../img/banner3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(50%);
}

.book_table .right_content {
  padding: 130px 80px;
  background-color: #ff6600;
}

.book_table .right_content .title {
  color: white;
  font-family: Pacifico;
  font-size: 20px;
}

.book_table .right_content p {
  color: #ffdfc9;
  font-size: 18px;
}

.book_table .right_content .best_container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.book_table .right_content .best_container i {
  font-size: 25px;
  color: #ff6600;
  background-color: white;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 10px;
}

.book_table .best_container i:hover {
  transition: all 0.5s;
  color: #ffc600 !important;
}

/* CSS for categories */
.categories {
  background-color: #f7f7f7;
}

.categories .container {
  padding: 100px 0px;
}

.categories .title {
  color: #ff6600;
  font-family: Pacifico;
  font-size: 20px;
}

.categories .overlay .text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-left: 50px;
  padding-bottom: 10px;
}

.categories .price_tag {
  color: #eebb0b;
}

.categories .overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.53) 69%,
    rgba(0, 0, 0, 0.76) 100%
  );
}

.categories .item .overlay:hover {
  transition: all 0.5s;
  opacity: 0.85;
}

/* css for menu */
.menu .container {
  padding: 80px 0;
}

.menu .item .content_title {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: start;
}

.menu .item .content {
  border: 1px solid #eee;
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.03);
  border-radius: 10px;
}

.menu .item .icon {
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 10px;
  color: #ff6600;
  font-size: 25px;
  background-color: #f9f8fe;
}

.menu .content:hover i {
  transition: all 0.5s;
  background-color: #ff6600;
  color: white;
}

/* css for information */

.container_title_information::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  background: rgb(16 15 19 / 66%);
  min-height: 100%;
}

.container_title_information {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../img/banner2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0px 150px 0px;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_title_information .text {
  max-width: 700px;
  padding: auto;
}

.container_title_information .contact_us {
  background-color: #ff6600;
  border: none;
}

.statistic .content {
  padding: 30px 0;
  box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
  border-radius: 10px;
  transition: all 0.3s;
}

.statistic .content:hover {
  transform: translateY(-0.25rem);
  box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px,
    rgba(71, 63, 79, 0.16) 0px 5px 10px;
}

.statistic .fugre_video {
  transform: translateY(-50px);
  position: relative;
  z-index: 0;
}

.statistic .container_figure {
  margin-bottom: 100px;
}

.statistic .container_figure .icon {
  font-size: 25px;
  height: 60px;
  width: 60px;
  background-color: #ff6600;
  color: white;
  line-height: 60px;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 10px;
}

.statistic .container_figure .figure_count {
  font-size: 40px;
}

.statistic .container_figure .title {
  color: #5b606c;
  font-weight: 600;
}

.statistic .container_video::before {
  content: "";
  position: absolute;
  background: rgb(16 15 19 / 60%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  border-radius: 10px;
}

.statistic .container_video {
  background-image: url(../img/banner3.jpg);
  background-position: center;
  height: 500px;
  width: 100%;
  position: relative;
  z-index: -1;
  border-radius: 10px;
  text-align: center;
  line-height: 500px;
  margin-bottom: 50px;
}

.statistic .container_video .icon {
  height: 80px;
  width: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 50%;
  color: #ff6600;
  font-size: 25px;
  background-color: #f9f8fe;
  transition: 0.3s ease-in-out;
  animation: play_button_effect 1s linear infinite;
}

.statistic .contact_us:hover {
  transition: all 0.5s;
  background-color: #ff6600 !important;
  color: white !important;
  opacity: 0.8;
}

.statistic .container_video .icon:hover {
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
  background: #ff6600;
  border: transparent;
  color: #fff;
}

#small-dialog {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}

#small-dialog iframe {
  width: 100%;
  height: 420px;
  display: block;
  border-radius: 10px;
}

.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.95;
}

.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  transform: scale(1);
}

.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.2s ease-in-out;
}

.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  opacity: 0;
  transform: scale(0.8);
}

/* CSS for latest post */
.latest_posts {
  background-color: #f7f7f7;
  padding: 100px 0px;
}

.latest_posts .title {
  color: #ff6600;
  font-family: Pacifico;
  font-size: 20px;
}

.latest_posts .logo {
  display: flex;
  align-items: center;
  justify-content: start;
}

.latest_posts .logo_icon img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.latest_posts .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.latest_posts .overlay_img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.latest_posts .overlay_text {
  transform: translateY(-10px);
  margin-left: 10px;
  color: #ff6600;
  display: block;
}

.latest_posts .overlay_text:hover {
  transition: all 0.5s;
  color: #5431ac;
}

.latest_posts .read_more {
  color: #232121 !important;
  opacity: 0.9;
}

.latest_posts .read_more:hover {
  transition: all 0.5s;
  color: #ff6600 !important;
  opacity: 0.9;
}

.latest_posts .container_image {
  margin-bottom: 30px;
}

/* CSS for testimonials */
.testimonials {
  padding: 100px 0px;
}

.testimonials .item {
  max-width: 700px;
  margin: 0 auto;
}

.testimonials .title {
  color: #ff6600;
  font-family: Pacifico;
  font-size: 20px;
}

.testimonials .container_image {
  display: flex;
  justify-content: center;
}

.testimonials .testimonials_image {
  height: 85px;
  width: 85px;
  border-radius: 50%;
}

.testimonials .testimonials_icon {
  color: #ff6600;
  font-size: 25px;
}

.testimonials .slick-dots li button:before {
  font-size: 13px;
  margin-top: 10px;
}

.testimonials .slick-dots .slick-active button::before {
  opacity: 1;
  color: #ff6600;
}

/* .testimonials #slick-slide-control01::before {
  color: gray;
} */

.testimonials .slick-dots li button:hover::before {
  transition: all 0.5s;
  color: #ff6600;
}

@keyframes play_button_effect {
  0% {
    box-shadow: 0 0 0 0 rgb(255 255 255 / 25%),
      0 0 0 10px rgb(255 255 255 / 25%), 0 0 0 20px rgb(255 255 255 / 25%);
  }

  100% {
    box-shadow: 0 0 0 10px rgb(255 255 255 / 25%),
      0 0 0 20px rgb(255 255 255 / 25%), 0 0 0 40px rgba(50, 100, 245, 0);
  }
}

/* responsive */

@media screen and (max-width: 770px) {
  .banner .banner_text {
    width: 100%;
  }
  .banner .banner_text h1 {
    font-size: 40px;
  }
}

@media screen and (min-width: 770px) and (max-width: 800px) {
  .banner .banner_text {
    width: 90%;
  }

  .banner .banner_text h1 {
    font-size: 40px;
  }
}

@media screen and (min-width: 800px) and (max-width: 995px) {
  .banner .banner_text {
    width: 80%;
  }

  .banner .banner_text h1 {
    font-size: 44px;
  }
}

@media screen and (min-width: 995px) and (max-width: 1190px) {
  .banner .banner_text {
    width: 70%;
  }

  .banner .banner_text h1 {
    font-size: 48px;
  }
}

/* @media screen and (min-width: 576px) and (max-width: 992px) {
  .cyber_carousel .carousel_text h2 {
    color: orange;
  }
}

@media screen and (min-width: 992px) {
  .cyber_carousel .carousel_text h2 {
    color: white;
  }
}

@media screen and (min-width: 576px) {
  .cyber_project .nav-item .active {
    background-color: red;
    border-color: red !important;
  }
} */
